@viewer-navbar-height: @navbar-height+2;
@horizon-height: 143px;


@horizon-color: #eaf6fd;
@sidewalk-color: #929ea5;
@lawn-color: #d7ddd7;
@bubble-color: #ffffff;
@bubble-border: #cccccc;

@left-position: 50%;
@header-height: @horizon-height+@viewer-navbar-height;

@steps-width: 50%;
@steps-from-right: 35%;
