a2j-header-footer {
  display: block;
  padding: 10px;

  .edit {
    width: 98%;
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 1002;
    background: #fff;
    border: 1px solid black;
    padding: 10px;
  }

  .preview {
    border: 1px dashed #adadad;
    padding: 10px;
  }
}
