mapper-toolbar {
  display: block;
  .navbar.navbar-default, .navbar.navbar-inverse {
    margin-bottom: 0;
  }
  .non-link {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .select-menu {
    padding: 8px 15px;
  }
  .link-select {
    padding: 6px 12px;
  }
}
