@import '../../../main';

template-edit-toolbar {
  display: block;

  .navbar-btn.test-assemble {
    margin-right: 10px;
  }

  .navbar-form {
    position: relative;
    overflow: hidden;
    min-width: 200px;
    margin: 0;
    padding-top: floor(@grid-gutter-width/4);
    padding-bottom: floor(@grid-gutter-width/4);

    .form-group {
      width: 100%;

      input {
        width: 80% !important;
      }
    }
  }
}
