@charset "utf-8";
/*
	02/02/2012  (3/10/2011 SJG
	A2J Viewer Stylesheet 
*/

.xhidestart { /* hide some elements initially */
	display: none;
}
html,body{
	margin:0px;
	padding:0px;
}
.ViewerApp  {
	font-size:14px;
	width:100%;
	margin:0px;
	padding:0px;
}
.A2JViewer {
	border: 1px solid #444;
	background-color:#fff;
	margin: 0px;
	padding: 0px;
	min-width: 800px;
	min-height: 600px;
	width: 930px;
	height: 660px;
}
.A2JViewer .NavBar {
	margin: 0px;
	padding: 5px;
	height: 20px;
	background-color: #eee;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-left-color: #000;
	width: auto;
}
.A2JViewer .NavBar li {
	display:inline;
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px;
	vertical-align: middle;
	list-style: none;
}
.A2JViewer .NavBar li a {
	-moz-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	xbackground: url(../img/button_gradient_blue.png) repeat-x;
	font-style: normal;
	font-weight: normal;
	padding: 2px;
	padding-left: 1em;
	padding-right: 1em;
	margin: 3px;
	color:#000;
	white-space: nowrap;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width:  thin;
	border-left-width: thin; 
	border-top-style: none; 
	border-right-style: none; 
	border-bottom-style: none; 
	border-left-style:  none;
	border-top-color: #eee; 
	border-right-color: #eee; 
	border-bottom-color: #eee; 
	border-left-color: #eee; 
}
.A2JViewer .NavBar li a:hover, .Viewer .NavBar li a:focus{
	margin: 2px;
	xcolor:#fff;
	xbackground:#727454;
	border-top-color: #FCFCFC;
	border-top-style: outset;
	border-right-color: #FCFCFC;
	border-right-style: outset;
	border-bottom-color: #FCFCFC;
	border-bottom-style: outset;
	border-left-color: #FCFCFC;
	border-left-style: outset;
}
.A2JViewer .interact {
}

.size1{
	font-size:smaller;
}
.size3{
	font-size:larger;
}

.left {
	float: left;
}
.right {
	float: right;
}
.interact {
	clear: both;
}
.infobar{
	padding: 10px;
	background-color:#000;
	color:#fff;
}



/* 2012 */

div.step  {
	border: 0px solid #808;
	position:relative;
	display:block;
	background-color:#eef;
	width: 930px;
	height: 640px;
	overflow: hidden;
}
div.question.bubble, div.learnmore.bubble {/* question bubble */
	-moz-border-radius:12px; border-radius:12px;
	border: 1px solid #bbb;
	background-color: #eee;
	margin:  0px;
	padding:  10px;
	min-height: 150px;
	max-height: 500px; 
}
div.question.bubble form, div.learnmore.bubble form{ /* form with viewer's field inputs */
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow: auto;
	min-height: 150px;
	max-height: 400px; 
	position: relative; 
}
div.learnmore.bubble, div.learnmore.bubble form {
	min-height: 50px;
	max-height: 500px; 
}

div.question.bubble form div.buttonlist{
	text-align:right;
	bottom: 4px;
	right: 4px;
	width: 100%; 
}
div.learnmore.bubble form div.buttonlist{
	text-align:center;
	bottom: 4px;
	right: 4px;
	width: 100%; 
}
div.stepnumber{ text-align:center;}
div.stepnumber.step1 { 	font-size: 2em; }
div.stepnumber.step2 { 	font-size: 1em; }
div.steptext.step1 { 	font-size: 1.5em; }
div.steptext.step2 { 	font-size: 1em; }


