@charset "utf-8";
/*
	02/02/2012  (3/10/2011 SJG
	A2J Viewer Stylesheet 
*/

.hidestart { /* hide some elements initially */
	display: none;
}
html,body{
	margin:0px;
	padding:0px;
}
.ViewerApp  {
	font-size:14px;
	width:100%;
	margin:0px;
	padding:0px;
}
.A2JViewer {
	border: 1px solid #444;
	color: #000;
	
	background-color:#fff;
	margin: 0px;
	padding: 0px;
	min-width: 800px;
	min-height: 600px;
	width: 930px;
	height: 660px;
}
.A2JViewer fieldset {
	border: none;
}
.A2JViewer .NavBar {
	margin: 0px;
	padding: 5px;
	height: 20px;
	background-color: #eee;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-left-color: #000;
	width: auto;
}
.A2JViewer .NavBar li {
	display:inline;
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px;
	vertical-align: middle;
	list-style: none;
}
.A2JViewer .NavBar li a {
	-moz-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	xbackground: url(../img/button_gradient_blue.png) repeat-x;
	font-style: normal;
	font-weight: normal;
	padding: 2px;
	padding-left: 1em;
	padding-right: 1em;
	margin: 3px;
	color:#000;
	white-space: nowrap;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width:  thin;
	border-left-width: thin; 
	border-top-style: none; 
	border-right-style: none; 
	border-bottom-style: none; 
	border-left-style:  none;
	border-top-color: #eee; 
	border-right-color: #eee; 
	border-bottom-color: #eee; 
	border-left-color: #eee; 
}
.A2JViewer .NavBar li a:hover, .Viewer .NavBar li a:focus{
	margin: 2px;
	xcolor:#fff;
	xbackground:#727454;
	border-top-color: #FCFCFC;
	border-top-style: outset;
	border-right-color: #FCFCFC;
	border-right-style: outset;
	border-bottom-color: #FCFCFC;
	border-bottom-style: outset;
	border-left-color: #FCFCFC;
	border-left-style: outset;
}
.A2JViewer .interact {
}

.size1{
	font-size:smaller;
}
.size3{
	font-size:larger;
}

.left {
	float: left;
}
.right {
	float: right;
}
.interact {
	clear: both;
}
.infobar{
	padding: 10px;
	background-color:#000;
	color:#fff;
}



/* 2012 */

div.step  {
	border: 0px solid #808;
	position:relative;
	display:block;
	background-color:#eef;
	width: 930px;
	height: 640px;
	overflow: hidden;
}
div.question.bubble, div.learnmore.bubble {/* question bubble */
	-moz-border-radius:12px; border-radius:12px;
	border: 1px solid #bbb;
	background-color: #eee;
	margin:  0px;
	padding:  10px;
	min-height: 150px;
	max-height: 500px; 
}
div.question.bubble > div, div.learnmore.bubble > div{ /* form with viewer's field inputs */
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow: auto;
	min-height: 150px;
	max-height: 400px; 
	position: relative;  
}
div.learnmore.bubble, div.learnmore.bubble > div {
	min-height: 50px;
	max-height: 500px; 
}

div.question.bubble fieldset div.row{ /* question form field row */
	border: 1px solid #bbb;
	margin: 0;
	margin-top: .5em;
	padding: 0;
}
div.question.bubble fieldset div.row input[type=text] {
	width: 100%;
}

div.question.bubble div div.buttonlist, div.learnmore.bubble div div.buttonlist{
	bottom: 4px;
	right: 4px;
	width: 100%; 
	min-height:  1px; 
}
div.question.bubble div div.buttonlist{
	text-align:right;
}
div.learnmore.bubble div div.buttonlist{
	text-align:center;
}
div.question.bubble div fieldset{
	text-align:left;
}
div.stepnumber{ text-align:center;}
div.stepnumber.step1 { 	font-size: 2em; }
div.stepnumber.step2 { 	font-size: 1em; }
div.steptext.step1 { 	font-size: 1.5em; }
div.steptext.step2 { 	font-size: 1em; }


/* Debugging Aids */

#tracer {
	padding-left: -5px;
}
#tracer li{
	font-weight: normal;
	xfont-family: "Courier New", Courier, monospace;
	font-size: 9pt;
	line-height: auto;
	border: none;
	xbackground-color: #ddd;
	margin: 1px;
	padding: 2px;
}
span.code, span.var, span.varidx, span.val, span.page {  
}
span.code {
	border: thin solid #CC9966;
	background-color: #ddd;
}
span.var {
	border: thin solid #CC9966;
	background-color: #ffc;
}
span.varidx {
	border: thin solid #CC9966;
	background-color: #fcc
}
span.val{
	border: thin solid #CC9966;
	background-color: #fcf;
}
span.page {
	border: thin solid #CC9966;
	background-color: #ccf;
}
span.err {
	text-decoration: none;
	border-bottom: dashed  1px #f00;
	padding-bottom: 0px;
 }

.ViewerLogicForm .tracepanel{
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 32px;
	xbackground-color: #f03;
	overflow: scroll;
}
.ViewerLogicForm .immediatepanel{
	position:absolute;
	bottom: 0px;
	height: 20px;
	left: 0;
	right: 0;
	padding:4;
	margin:4;
}
.ViewerLogicForm .immediatepanel input {
	width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#page-viewer.ViewerApp  .ViewerVarForm {
	position: fixed;
	top:0;
	right:0;
	bottom: 50%;
	width: 400px;
	border: 1px solid #bbb;
	background-color: #cee;
}
#page-viewer.ViewerApp   .ViewerLogicForm {
	position: fixed;
	top:50%;
	right:0;
	bottom: 0;
	width: 400px;
	border: 1px solid #bbb;
}
