@charset "utf-8";


.ui-widget-header, 
.ui-state-default, 
.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-hover, 
.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
.ui-priority-primary, 
.ui-widget-content .ui-priority-primary, 
.ui-widget-header .ui-priority-primary 
 { font-weight: normal; }



html, body, input, select, textarea , .htmledit, .codeedit {
	background-color: #fff;
	color: #000;
}
::-webkit-input-placeholder {	color: #555;font-style:italic}
:-moz-placeholder {	 			color: #555;font-style:italic}
:-ms-input-placeholder {			color: #555;font-style:italic;}
html, body {
	font-family:   Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow: hidden;
}


.picker.branch , .picker.score {
	xfont-size: 1em;
}




/**************************/
/* Sam's custom */

#guidepanel {
	position:fixed;
	top: 32px;
	left:0px;
	right:0px;
	bottom: 0px;
}
#tabnav {
	xposition:fixed;
	position:absolute;
	top: 32px;
	left: 0;
	right: 66%;
	bottom: 20px;
}
#tabviews {
	xposition:fixed;
	position:absolute;
	top: 32px;
	left: 33%;
	right: 0;
	bottom: 20px;
}
#welcome > div {
	background-image: url(img/blank_guide2front.png);
	background-repeat: no-repeat;
	padding-left: 50px;
}


#cajaheader {
	border-bottom : 2px solid #cccccc;
	padding:0px;
	margin: 0px;
	height: 32px;
	background-color: #fff;
}
#cajainfo  {
	position: fixed;
	width: 32px;
	height: 32px;
	background-image: url(img/CAJA_Icon_32.png);
}
#cajatitle  {
	text-align: center;
	top:4px;
	position: fixed;
	left:40px;
	right:40px;
}
#cajasettings  {
	top:0;
	right:0;
	position: fixed;
	z-index: 2;
}
#cajasettings li {
	min-width: 150px;
}
#cajafooter {
	border-top : 2px solid #cccccc;
	font-size: 9px;
	position: fixed;
	padding:0px;
	margin: 0px;
	height: 16px;
	bottom: 0px;
	width: 100%;
	background-color: #fff;
}


.ui-tabs .ui-tabs-nav li { 
	xfont-size: .9em;
}
.pagelist {
	xfont-size: .8em;
}

.pagelist ul { 
	font-weight: normal;
	list-style-type: square;
	font-style: normal;
	padding: 0px;
}
#CAJAOutline.pagelist ul { 
	xlist-style-image: url(img/new.gif);
	list-style: bullet;
	margin-left: 1em;
}
#CAJAIndex.pagelist ul { 
	list-style-type: none;
	margin-left: 0em;
}

.pagelist * li:hover{
	background-color:#eee;
	color:#222;
	cursor: pointer;
}


.editicons {
	border-collapse:collapse;
	margin: 0px; 
	padding: 0px;
	width: 50px;
	xdisplay: inline-block;
}
.editicons .ui-icon {
	display: inline-block;
}


/*********** A2J ***************/
table.A2JSteps, table.A2JVars {
	border-collapse:collapse;
	width:100%;
}
table.A2JSteps tr td, table.A2JVars tr td {
	border:1px solid #111;
	padding:1em;
}
table.A2JSteps tr:nth-child(3n+1) {
background-color:#fdd;
}
table.A2JSteps tr:nth-child(3n+2) {
background-color:#dfd;
}
table.A2JSteps tr:nth-child(3n+3) {
background-color:#ddf;
}
table.A2JVars tr:nth-child(even) {
background-color:#fff;
}
table.A2JVars tr:nth-child(odd) {
background-color:#eee;
}
input.narrow {
	width: 5em;
}
/*let ui-layout handle scrolling // .ui-tab-content, .ui-tabs-panel{overflow: scroll;} */

/* Shared */
.boxsizingBorder , .CAJAEditor, div.editq{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.CAJAEditor { 
	padding: 0;
	margin: 0;
	width: 100%;
}
.CAJAContent { 
	xborder: 2px thick #00CC99;
	padding: 0;
	margin: 0;
	width: 100%;
}

 /*********** Editor ***************/
div.editq {
	width: 100%;
	/*-moz-border-radius:12px; border-radius:12px;*/
	margin: 0px;
	padding: 5px;
}
.editq h1 {
	font-size: 1.5em;
	margin-left: 0em;
}
.editq h2 {
	font-size: 1.25em;
	padding-top: 1em;
	margin-left: 0em;
}
.editq fieldset label { 
	clear: both;
	display: block;
	vertical-align: top;
	float: left;
	width: 12em;
	margin: 5px 0 0;
	text-align: right; 
}

fieldset { 
	padding:0; 
	margin-top:25px;
}
.editq fieldset {
}
.editq fieldset div  {
	margin-top: 1em;
	xborder: 1px solid #0f0;
}
.editq fieldset {
	padding: inherit;
	margin-top:25px; 
}
.sorthandle {
	cursor: move;
}

.editspan { /* wrap around fields for fluid width */
	display: block;
	overflow: hidden;
	padding: 5 5 5 5;
}
.editable.taller {
	margin-top: 0em;
	min-height: 2em; 
}
.editable.tallest {
	min-height: 5em; 
}
/*.editable:focus {
	min-width: 20em;
}
*/

.editable { /* authoring text fields */ 
	min-width: 10em;

	margin-top: 1px;
	margin-bottom: 1px;
	
	padding: 5px; 
	xfont-size: 1em;
	x-moz-border-radius: 12px;
	xborder-radius: 12px;
	border: 1px solid #ccc;
	min-height: 1em;
	
	
	width:100%; 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.ui-autocomplete .ui-menu-item {
	max-height: 2em;
	overflow: hidden;
}
.ui-autocomplete{
	max-height: 10em;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
 }
/*.widetext {
	width: 20em;
	padding: 0;
	margin: 0;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #1ff;
}
x.autocomplete.picker.page {
	width:100%; 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*/
.codeedit, .xml {
	font-family: Monospace;
	white-space: pre-wrap;
}
.xml {
	font-size: .5em;
}
.collapse {
	height: 1.5em;
	overflow: hidden;
}


x.bubble {
	-moz-border-radius:15px 15px 15px 15px;
	border-radius:15px 15px 15px 15px;
	border: 3px solid #0066CC;
	background-color: #C4E1FF;
	margin-bottom: 1em;
	padding: 1em;
}

.CAJAContent P {
	padding: 0;
	margin: 0;
	margin-top: .5em;
	margin-bottom: .5em;
	line-height: 1.0em;
}
P.CAJASection {
	font-size: 2em;
	font-weight: bold;
	border-left: dashed;
	margin-top: 2em;
	border-width: thin;
	padding-left: 5px;
}
P.CAJAPage {
	font-size: 1.5em;
	border-top: dashed;
	border-left: dashed;
	border-width:thin;
	margin-top: 1em;
	padding-left: 5px;
}
P.CAJAStep {
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 2em;
	padding: .5em;
	border: 1px solid #000;
}
.Step0 { background-color: #ffffff; }
.Step1, .Step7 { background-color: #BDD6D6; }
.Step2, .Step8 { background-color: #B7DDB7; }
.Step3, .Step9 { background-color: #EFC68C; }
.Step4, .Step10 { background-color:#E7E7B5; }
.Step5, .Step11 { background-color:#EFDED6; }
.Step6, .Step12 { background-color:#ECD8EA; }


P.CAJAComment {
	font-style: italic;
	background-color:#eee;
}
P.CAJAAsk {
	background-color:#ffFFCC;
}
P.CAJATest {
	background-color:#efe;
	text-indent: -3em;
	padding-left: 3em;
	width: auto;
}
.hilite {
	background-color:#ff8;
}
.hilite.slack {
	background-color:#ff0;
}
.macro {
	background-color:#eee;
}
.warning {
	background-image: url(img/warning.png);
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	height: 16px;
	background-color:#fdd;
	border: thin;
	font-size: .9em;
	font-style: italic;
}
.inform {
	background-image: url(img/inform.png);
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	height: 16px;
	background-color:#fdd;
	border: thin;
	font-size: .9em;
	font-style: italic;
}
table.CAJAReportDump {
	border-collapse:collapse;
}
table.CAJAReportDump tr td {
	border:1px solid #111;
	padding:1em;
}
table.CAJAReportDump tr:nth-child(3n+1) {
background-color:#fdd;
}
table.CAJAReportDump tr:nth-child(3n+2) {
background-color:#dfd;
}
table.CAJAReportDump tr:nth-child(3n+3) {
background-color:#ddf;
}
.loader {
	display: inline-block;
	background-image: url(img/ajax-loader.gif);
	background-repeat: no-repeat;
	width:16px;
	height:16px;
	padding: 0px;
	margin: 0px; 
}
.pageedit {
	padding: 5px;
	margin: 25px;
}
.pagelink {
	background-color:#FFFFCC;
}
.section {
	padding: 5px;
	margin: 2px;
}

.section .header {
	/*font-size: 15px;*/
	font-style: normal;
	padding: 4px;
	xfont-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: none;
	clear: none;
	position: relative;
	cursor: default;
	background-position: center;
	display: block;
}
.section .body {
	border: 1px none #00CC99;
	padding: 4px;
	margin-left:20px;
	display: block;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.section .header .hintinfo {
	/*xfont-size: 12px;*/
	color:#999999;
	font-weight: bold;
	font-style: italic;
}
.section .header .hover {
	color: red;
	cursor: pointer;
}
.section .header .collapsable {
	width:15px;
	float:left;
	background-image: url(../Source/jQuery/images/red/tv-collapsable.gif);
}
.section .header .expandable {
	width:15px;
	float:left;
	background-image: url(../Source/jQuery/images/red/tv-expandable.gif);
}
.section .header span.folder, .section .header span.file {
	padding-left: 26px;
	display:inline;
	height: 15px;
}
.section .header span.folder {
	background: url(jQuery/images/folder.gif) 0 0 no-repeat;
}
.editInPlace {
	padding:5px;/*border: 1px solid #00CC99;*/
}
/*.editable, textarea {
	background-color: #ffffd3;
}
*/
textarea {
	width: 95%;
	font-size: 100%;
}
#outline {
	border:thin solid #00FF99;
}
.TabOption {
	float:right;
	color:#FF0000;
	padding:5px;
}
.hotspot {
	height: 100px;
}




/************** Tracer ************/
#tracer li {
	font-size: 8pt;
	padding:1px;
	margin-left: -2em;
}

/************** List Table ************/
table.list {
	xborder-collapse:collapse;
	xborder:1px solid #111;
	width:100%;
}
table.list tr   {
	border:5px solid #888;
	border-collapse:separate;
}
table.list tr:nth-child(even) {
	background-color:rgba(240,240,240,0.5);
}
table.list tr:nth-child(odd) {
	background-color:rgba(255,255,255,0.5);
}
table.list tr td  {
	xfont-size: .8em;
	padding:.1em;
}
/*
select {
	width: 10em;
}
*/

.hidden {
	display: none;
}


.hidestart {
	visibility: hidden;
}

.authortool {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow: hidden;
}


 /*********** TinyMCE ***************/
.mceExternalToolbar {
	xposition: fixed !important;
	top: 60px !important;
	text-align: center;

	position: absolute !important;
	xtop: -20px !important;
	left: 0px;

	z-index: 12;
}




#login-form label, input { display:block; }
#login-form input.text { margin-bottom:12px; width:95%; padding: .4em; }
/*

.validateTips { border: 1px solid transparent; padding: 0.3em; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
*/

.ui-dialog .ui-state-error { padding: .3em; }
.ui-dialog {
	box-shadow: 10px 10px 10px 0px #888888;
	xborder: 2px solid #888888;
}

#guidepanel > ul button {	
	float: center;
}
#guidepanel .ui-widget-header  .ui-dialog-titlebar-close {
   height: 18px;
   width: 19px;
   padding: 1px;
   position: absolute;
   right: 23px;
   top: 9px;
}
#guidepanel .ui-widget-header  .ui-dialog-titlebar-close .ui-icon {
   display: block;
   margin: 1px;
}
#guidepanel .ui-widget-header .ui-dialog-titlebar-close:hover, .ui-widget-header .ui-dialog-titlebar-close:focus {
   padding: 0;
}

#dialog_window_minimized_container {
   position: fixed;
   bottom: 0px;
   right: 0px;
	z-index: 9999;
}
.dialog_window_minimized {
   float: left;
   padding: 5px 10px;
   font-size: 12px;
   cursor: pointer;
   margin-right: 2px;
   xdisplay: none;
}
.dialog_window_minimized .ui-icon {
   display: inline-block !important;
   position: relative;
   top: 3px;
   cursor: pointer;
}
.ui-dialog .ui-dialog-titlebar-minimize {
   height: 18px;
   width: 19px;
   padding: 1px;
   position: absolute;
   right: 23px;
   top: 9px;
}
.ui-dialog .ui-dialog-titlebar-minimize .ui-icon {
   display: block;
   margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-minimize:hover, .ui-dialog .ui-dialog-titlebar-minimize:focus {
   padding: 0;
}



li.guide {
	cursor: pointer;
}
li.guide:hover {
	background-color:#C0DCC0;
}


.example{
	overflow: auto;
	height: 100%;
}

#tabsAbout, #tabsPageEdit, #tabsPageView, #tabsVariables, #tabsMapper, #tabsConstants, #tabsSteps, #tabsLogic, #tabsText /*,  #tabsCAJA*/ {
	overflow: hidden;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	border: none;
}
.tabsPanel { 
	height: 100%;
	overflow: scroll;
	border: 2px thick #f00;
}

.page-edit-form-panel .tabsPanel{
	xbackground-color:#cfa;
	overflow: hidden;
}


.tabHeader {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
/* Mapper */
.tabContentFrame, #MapperPanel { 
	position: absolute;
	top: 40px;
	left: 10px;
	right:10px;
	bottom:10px;	
	overflow: auto;
	border: none;
}
.tabContent {
	overflow: none;
	border: 2px thick #0f0;
}
.map {
	background-color:#fff;
	width: 1500px;
	height: 1500px;
	overflow: none;
	border: 2px thick #0f0;
	position: relative;
}

x.map {
	height: 100%;
	width: 100%;
	padding: 15px;
	position: relative;
}
.map  .node {
	font-size: 12px;
	background-color: #D0F0F0;
	margin: 0px;
	padding: 4px;
	width: 130px;
	height: 36px;
	border: 1px outset #006699;
	text-align: center;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	cursor: pointer;
	overflow: none;
}
.map   .tiny {
	background-image: url(img/map_page.png);
	background-repeat:no-repeat;
	background-color:  inherit;
	border: 0px hidden;
	margin: 1px;
	padding: 0px;
	cursor: pointer;
	width: 12px;
	height: 8px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius: 0px;
}
.map .mark {
	border: 2px double;
}
.node .text {
	overflow: hidden;
	height: 35px;
	width: 100px;
}
.map .branch {
	font-size: 8px;
	background-color: #fff;
	margin: 1px;
	padding: 1px;
	width: 15px;
	border: 0px none;
	text-align: center;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	overflow: hidden;
	cursor: pointer;
}
.map   .branch.RIGHT {
	color: #080;
}
.map   .branch.WRONG {
	color: #f00;
}
.map   .line {
	background-color: #000;
	border: 1px #000;
	position: absolute;
}
.map   .arrow {
	position: absolute;
	background-image: url(img/map_arrow_down.png);
	background-repeat:no-repeat;
	width:16px;
	height:20px;
	margin-top: -5px;
}

div.codeedit span.err {
	text-decoration: none;
	border-bottom: dashed  1px #f00;
	padding-bottom: 0px;
}


