@charset "utf-8";

/* Layout header, content and footer */
html, body {
	font-family:   Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #eee;
}


/**************************/
/* Frame Layout Theme  */
.ui-layout-pane { /* all 'panes' */
	xbackground: #FFF;
	border: 1px solid #BBB;
	padding: 10px;
	//overflow: auto;
	overflow:  hidden;
}
.ui-layout-content {
	overflow: auto;
}
.ui-layout-resizer { /* all 'resizer-bars' */
	background: #DDD;
}
.ui-layout-toggler { /* all 'toggler-buttons' */
	background: #AAA;
}

.picker.branch , .picker.score {
	font-size: .75em;
}




/**************************/
/* Sam's custom */

.header {
	border-bottom : 2px solid #cccccc;
	xbackground-color:#aaf;
	padding-top: 4px;
	padding-bottom: 0px;
	background-image: url(img/CAJA_Icon_48.png);
	background-repeat: no-repeat;
	padding-left: 50px;
}

.ui-tabs .ui-tabs-nav li { 
	font-size: .5em;
}

.pagelist ul { 
	font-weight: normal;
	color: #f00;
	list-style-type: square;
	font-style: normal;
	padding: 0px;
	margin-left: 1em;
	list-style-image: url(img/new.gif);
}

.pagelist * li:hover{
	background-color:#eee;
	cursor: pointer;
}

/*********** A2J ***************/
table.A2JSteps, table.A2JVars {
	border-collapse:collapse;
	width:100%;
}
table.A2JSteps tr td, table.A2JVars tr td {
	border:1px solid #111;
	padding:1em;
}
table.A2JSteps tr:nth-child(3n+1) {
background-color:#fdd;
}
table.A2JSteps tr:nth-child(3n+2) {
background-color:#dfd;
}
table.A2JSteps tr:nth-child(3n+3) {
background-color:#ddf;
}
table.A2JVars tr:nth-child(even) {
background-color:#fff;
}
table.A2JVars tr:nth-child(odd) {
background-color:#eee;
}

/*let ui-layout handle scrolling // .ui-tab-content, .ui-tabs-panel{overflow: scroll;} */

/* Shared */
.boxsizingBorder , .CAJAEditor, div.editq{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.CAJAEditor { 
	xbackground-color: #0f0;
	padding: 0;
	margin: 0;
	width: 100%;
}
.CAJAContent { 
	xbackground-color: #f00;
	border: 2px thick #00CC99;
	padding: 0;
	margin: 0;
	width: 100%;
	xpadding-left: 14px;
	xpadding-right: 8px;
}

 /*********** Editor ***************/
div.editq {
	width: 100%;
	-moz-border-radius:12px; border-radius:12px;
	border: 1px solid #0066CC;
	background-color: #C4E1FF;
	margin: 0px;
	padding: 5px;
}
.editq h1 {
	font-size: 1.5em;
	margin-left: 0em;
}
.editq h2 {
	font-size: 1.25em;
	padding-top: 1em;
	margin-left: 0em;
}
.editq label { 
	clear: both;
	display: block;
	vertical-align: top;
	float: left;
	width: 12em;
	margin: 5px 0 0;
	text-align: right; 
	
	
	xborder: 1px solid #ff0;
}
.editq fieldset div  {
	margin-top: 1em;
	xborder: 1px solid #0f0;
}

.editspan { /* wrap around fields for fluid width */
	xborder: 1px solid #f00;
	
	display: block;
	overflow: hidden;
	padding: 5 5 5 5;
}
.editable.taller {
	margin-top: 0em;
	min-height: 2em; 
}
.editable.tallest {
	min-height: 5em; 
}
.editable { /* authoring text fields */ 
	margin-top: 1px;
	margin-bottom: 1px;
	
	padding: 5px; 
	background-color: #fff;
	font-size: 100%;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 0px solid #0066CC;
	min-height: 1em;
	
	width:100%; 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*.widetext {
	width: 20em;
	padding: 0;
	margin: 0;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #1ff;
}
*/
.codearea, .xml {
	font-family: Monospace;
	white-space: pre-wrap;
}
.xml {
	font-size: .5pt;
}
.collapse {
	height: 1.5em;
	overflow: hidden;
}
.autocomplete.picker.page {
	width:100%; 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



.bubble {
	-moz-border-radius:15px 15px 15px 15px;
	border-radius:15px 15px 15px 15px;
	border: 3px solid #0066CC;
	background-color: #C4E1FF;
	margin-bottom: 1em;
	padding: 1em;
}
/*.editq {
	-moz-border-radius:15px 15px 15px 15px;
	border-radius:15px 15px 15px 15px;
	border: 3px solid #0066CC;
	background-color: #C4E1FF;
	margin-bottom: 1em;
	padding: 1em;
}
*/
.CAJAContent P {
	padding: 0;
	margin: 0;
	margin-top: .5em;
	margin-bottom: .5em;
	line-height: 1.0em;
}
P.CAJASection {
	font-size: 2em;
	font-weight: bold;
	border-left: dashed;
	margin-top: 2em;
	border-width: thin;
	padding-left: 5px;
}
P.CAJAPage {
	font-size: 1.5em;
	border-top: dashed;
	border-left: dashed;
	border-width:thin;
	margin-top: 1em;
	padding-left: 5px;
}
P.CAJAStep {
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 2em;
	padding: .5em;
	border: 1px solid #000;
}
.Step0 { background-color: #ffffff; }
.Step1, .Step7 { background-color: #BDD6D6; }
.Step2, .Step8 { background-color: #B7DDB7; }
.Step3, .Step9 { background-color: #EFC68C; }
.Step4, .Step10 { background-color:#E7E7B5; }
.Step5, .Step11 { background-color:#EFDED6; }
.Step6, .Step12 { background-color:#ECD8EA; }


P.CAJAComment {
	font-style: italic;
	background-color:#eee;
}
P.CAJAAsk {
	background-color:#ffFFCC;
}
P.CAJATest {
	background-color:#efe;
	text-indent: -3em;
	padding-left: 3em;
	width: auto;
}
.hilite {
	background-color:#0f0;
}
.hilite.slack {
	background-color:#ff0;
}
.macro {
	background-color:#eee;
}
.warning {
	background-image: url(img/warning.png);
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	height: 16px;
	background-color:#fdd;
	border: thin;
	font-size: .9em;
	font-style: italic;
}
.inform {
	background-image: url(img/inform.png);
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	height: 16px;
	background-color:#fdd;
	border: thin;
	font-size: .9em;
	font-style: italic;
}
table.CAJAReportDump {
	border-collapse:collapse;
}
table.CAJAReportDump tr td {
	border:1px solid #111;
	padding:1em;
}
table.CAJAReportDump tr:nth-child(3n+1) {
background-color:#fdd;
}
table.CAJAReportDump tr:nth-child(3n+2) {
background-color:#dfd;
}
table.CAJAReportDump tr:nth-child(3n+3) {
background-color:#ddf;
}
.loader {
	display: inline-block;
	background-image: url(img/ajax-loader.gif);
	background-repeat: no-repeat;
	width:16px;
	height:16px;
	padding: 0px;
	margin: 0px; 
}
.pageedit {
	padding: 5px;
	margin: 25px;
}
.pagelink {
	background-color:#FFFFCC;
}
.section {
	padding: 5px;
	margin: 2px;
}
.editq fieldset {
	padding: inherit;
	border: inherit;
	margin-top:25px; 
}

.section .header {
	/*font-size: 15px;*/
	font-style: normal;
	padding: 4px;
	xfont-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: none;
	clear: none;
	position: relative;
	cursor: default;
	background-position: center;
	display: block;
}
.section .body {
	border: 1px none #00CC99;
	padding: 4px;
	margin-left:20px;
	display: block;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.section .header .hintinfo {
	/*xfont-size: 12px;*/
	color:#999999;
	font-weight: bold;
	font-style: italic;
}
.section .header .hover {
	color: red;
	cursor: pointer;
}
.section .header .collapsable {
	width:15px;
	float:left;
	background-image: url(../Source/jQuery/images/red/tv-collapsable.gif);
}
.section .header .expandable {
	width:15px;
	float:left;
	background-image: url(../Source/jQuery/images/red/tv-expandable.gif);
}
.section .header span.folder, .section .header span.file {
	padding-left: 26px;
	display:inline;
	height: 15px;
}
.section .header span.folder {
	background: url(jQuery/images/folder.gif) 0 0 no-repeat;
}
.editInPlace {
	padding:5px;/*border: 1px solid #00CC99;*/
}
/*.editable, textarea {
	background-color: #ffffd3;
}
*/
textarea {
	width: 95%;
	font-size: 100%;
}
#outline {
	border:thin solid #00FF99;
}
.TabOption {
	float:right;
	color:#FF0000;
	padding:5px;
}
.hotspot {
	height: 100px;
}



/************** Menu bar ************/
ul.megamenu {
	background-color: transparent;
	z-index:2;
}
ul.megamenu a.mm-item-link:link, ul.megamenu a.mm-item-link:visited {
	color: #000;
}
ul.megamenu div ul {
	padding-left: 1em;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.megamenu div ul li {
	padding: .5em;
}
ul.megamenu div ul li:hover {
	background-color: #eee;
}


/************** Tracer ************/
#tracer li {
	color:#800;
	font-size: 8pt;
	padding:1px;
	margin-left: -2em;
}

/************** List Table ************/
table.list {
	border-collapse:collapse;
	width:100%;
}
table.list tr td  {
	border:1px solid #111;
	padding:1em;
}
.hidden {
	display: none;
}
/*table.list tr:nth-child(even) {
background-color:#fff;
}
table.list tr:nth-child(odd) {
background-color:#eee;
}
*/


.hidestart {
	visibility: hidden;
}

.authortool {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow: hidden;
}


 /*********** TinyMCE ***************/
.mceExternalToolbar {
	xposition: fixed !important;
	top: 60px !important;
	text-align: center;

	position: absolute !important;
	xtop: -20px !important;
	left: 0px;

	z-index: 12;
}




#login-form label, input { display:block; }
#login-form input.text { margin-bottom:12px; width:95%; padding: .4em; }
/*

.validateTips { border: 1px solid transparent; padding: 0.3em; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
*/
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }




li.guide {
	cursor: pointer;
}
li.guide:hover {
	background-color:#C0DCC0;
}


.example{
	overflow: auto;
	height: 100%;
}


/* Mapper */

#tabsMapper {
	background-color:#ff0;
	overflow: none;
	width: 95%;
	height: 95%;
}
#MapperPanel { 
	background-color:#ffa;
	width: 95%;
	height: 95%;
	overflow: scroll;
	border: 2px thick #f00;
}
.map {
	background-color:#fff;
	width: 1500px;
	height: 1500px;
	overflow: none;
	border: 2px thick #0f0;
	position: relative;
}

x.map {
	height: 100%;
	width: 100%;
	padding: 15px;
	position: relative;
}
.map  .node {
	font-size: 12px;
	background-color: #D0F0F0;
	margin: 1px;
	padding: 4px;
	height: 35px;
	width: 100px;
	border: 1px outset #006699;
	text-align: center;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	cursor: pointer;
	overflow: none;
}
.map   .tiny {
	background-image: url(img/map_page.png);
	background-repeat:no-repeat;
	background-color:  inherit;
	border: 0px hidden;
	margin: 1px;
	padding: 0px;
	cursor: pointer;
	width: 12px;
	height: 8px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius: 0px;
}
.map .mark {
	border: 2px double;
}
.node .text {
	overflow: hidden;
	height: 35px;
	width: 100px;
}
.map .branch {
	font-size: 8px;
	background-color: #fff;
	margin: 1px;
	padding: 1px;
	width: 15px;
	border: 0px none;
	text-align: center;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	overflow: hidden;
	cursor: pointer;
}
.map   .branch.RIGHT {
	color: #080;
}
.map   .branch.WRONG {
	color: #f00;
}
.map   .line {
	background-color: #000;
	border: 1px #000;
	position: absolute;
}
.map   .arrow {
	position: absolute;
	background-image: url(img/map_arrow_down.png);
	background-repeat:no-repeat;
	width:16px;
	height:20px;
	margin-top: -5px;
}

