mapper-page {
  display: block;
  height: 100%;
  width: 100%;

  .col-sm-2 {
    padding-right: 0;
  }

  .center-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    span {
      font-size: 20px;
    }
  }

}

.mapper-canvas-container {
  overflow: scroll;
  border: 1px solid #e7e7e7;
}
