@import (reference) '../styles';

user-avatar-picker {
  display: block;
  margin: 20px;

  .avatar-cell {
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0;
    border: 3px transparent solid;

    &--selected {
      border: 3px @brand-success solid;
    }

    .avatar-user {
      width: 50%;
    }

    .avatar-wheelchair {
      width: 100%;
    }
  }
}
