A2J_KEY="SECRET_256b_KEY"
A2J_URL="https://my.a2jorg.server/api/v1/author/"
A2J_POST_URL="https://my.a2jorg.server/api/guide"

A2J_ANALYTICS_URL="https://my.dikembe.server/list"
A2J_AUTHOR_SOURCE_ID="UUID-FROM-DIKEMBE"

[ALLOWED_EXTENSIONS]
EXTS_ALLOWED[]="xml"
EXTS_ALLOWED[]="jpg"
EXTS_ALLOWED[]="png"
EXTS_ALLOWED[]="gif"
EXTS_ALLOWED[]="mp4"
EXTS_ALLOWED[]="mp3"
EXTS_ALLOWED[]="pdf"
EXTS_ALLOWED[]="json"
EXTS_ALLOWED[]="zip"
EXTS_ALLOWED[]="backup"
EXTS_ALLOWED[]="svg"
