sudo: false
language: node_js
node_js:
  - "12"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - dbus-x11
before_install:
  - "export DISPLAY=:99.0"
services:
  - xvfb
install:
  - npm install
  - cd js
  - npm install -g grunt-cli
  - npm install
  - cd ..
script:
  - npm test
  - cd js
  - npm test
