@import "../../../styles/bootstrap-overrides/variables.less";

a2j-pages {
  display: block;

  .modal-button {
    display: none;

    @media (max-width: @screen-sm) {
      display: block;
    }
  }

  .post-answers-form {
    display: inline;
  }

  audio {
    max-width: 100%;

    @media (max-width: @screen-sm) {
      display: none;
    }
  }
}
