@charset "utf-8";
/*
	A2J Author 5 * Justice * 正义 * công lý * правосудие
	All Contents Copyright The Center for Computer-Assisted Legal Instruction
	
	Extra CSS for standalone report pages
	
	07/08/2014
*/


html, body {
	font-family:  "Open Sans",​sans-serif;
	font-size: 12px;
	margin:1em;
	padding:1em;
	overflow: auto;
	width: auto;
	height: auto;
}
fieldset {
    margin-top: 2em;
    padding-top: 2em;
}

/* */
