.guidepanels {
  app-alert.global-alert {
    padding-top: 60px;
    margin-bottom: -60px;

    .alert {
      padding: 15px 20px;

      &.alert-dismissible .close {
        right: 0;
      }
    }
  }
}
