about-main {
  .avatar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .gender-options {
    label {
      font-weight: normal !important;
    }
    span {
      padding: 0 10px 0 20px;
    }
  }

  a2j-viewer-avatar {
    svg {width: 100% !important;}
  }

  textarea {
    resize: none;
  }
}
