
.icon-trash:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-cancel-circled:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-eye:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-docs:before { content: '\e808'; } /* '' */
.icon-doc:before { content: '\e809'; } /* '' */
.icon-doc-text:before { content: '\e80a'; } /* '' */
.icon-folder-open-empty:before { content: '\e80b'; } /* '' */
.icon-folder-empty:before { content: '\e80c'; } /* '' */
.icon-down-open:before { content: '\e80d'; } /* '' */
.icon-left-open:before { content: '\e80e'; } /* '' */
.icon-right-open:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-arrow-combo:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e812'; } /* '' */
.icon-left-dir:before { content: '\e813'; } /* '' */
.icon-right-dir:before { content: '\e814'; } /* '' */
.icon-up-dir:before { content: '\e815'; } /* '' */
.icon-plus-circled:before { content: '\e816'; } /* '' */
.icon-minus:before { content: '\e817'; } /* '' */
.icon-minus-circled:before { content: '\e818'; } /* '' */
.icon-help-circled:before { content: '\e819'; } /* '' */
.icon-info-circled:before { content: '\e81a'; } /* '' */
.icon-link:before { content: '\e81b'; } /* '' */
.icon-attach:before { content: '\e81c'; } /* '' */
.icon-attention:before { content: '\e81d'; } /* '' */
.icon-flag:before { content: '\e81e'; } /* '' */
.icon-check:before { content: '\e81f'; } /* '' */
.icon-move:before { content: '\e820'; } /* '' */
.icon-file-audio:before { content: '\e821'; } /* '' */
.icon-volume:before { content: '\e822'; } /* '' */
.icon-download:before { content: '\e823'; } /* '' */
.icon-down-circled:before { content: '\e824'; } /* '' */
.icon-export:before { content: '\e825'; } /* '' */
.icon-cc-share:before { content: '\e826'; } /* '' */
.icon-file-archive:before { content: '\e827'; } /* '' */
.icon-file-pdf:before { content: '\e828'; } /* '' */
.icon-file-code:before { content: '\e829'; } /* '' */
.icon-zoom-out:before { content: '\e82a'; } /* '' */
.icon-zoom-in:before { content: '\e82b'; } /* '' */
.icon-resize-full:before { content: '\e82c'; } /* '' */
.icon-resize-small:before { content: '\e82d'; } /* '' */
.icon-popup:before { content: '\e82e'; } /* '' */
.icon-left-thin:before { content: '\e82f'; } /* '' */
.icon-right-thin:before { content: '\e830'; } /* '' */
.icon-list:before { content: '\e831'; } /* '' */
.icon-lifebuoy:before { content: '\e832'; } /* '' */
.icon-publish:before { content: '\e833'; } /* '' */
.icon-spin6:before { content: '\e834'; } /* '' */
.icon-resize-full-1:before { content: '\e835'; } /* '' */
.icon-move-1:before { content: '\e836'; } /* '' */
.icon-cog-1:before { content: '\e837'; } /* '' */