@import (reference) '../../../../styles/shared/mixins';

a2j-blank-template {
  display: block;
  .border-radius(10px);
  padding-bottom: 15px;
  background-color: #FFFFEE;
  border: 3px dashed darken(@gray-lighter, 20%);

  button.btn-add-element {
    margin-top: 15px;
  }
}
