a2j-modal {
  display: block;

  #pageModal {
    position: absolute;
    top: 20%;
    width: 100%;

    .modal-body {
      max-height: 400px;
      overflow-y: auto;
    }
    .modal-content {
      .modal-video, .modal-image {
        display: block;
        max-height: 325px;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
