.step-current {
  width: 100%;
  .vertical-align(absolute);
  z-index: @zindex-popover;
}

.app-step {
  position: absolute;
  bottom: 0;
  width: @steps-width;
  height: 100%;
  right: 30%;

  &:after {
    position: absolute;
    content: '';
    .border-radius(50%);
    width: 100%;
    right: 0;
  }
  &.current {
    height: 100px;
    bottom: -5%;

    &:after {
      height: 100px;
      bottom: 0;
    }
  }
}

.step-next {
  width: 100%;
  bottom: calc(~"50vh - " @header-height);
  position: absolute;
  padding-left: 5%;
  height: 10%;
  display: none;

  .app-step {
    width: 35%;

    &:after {
      height: 40%;
      bottom: 0;
    }
  }
}

@minus-header: ceil(@header-height/2);

.next-2 {
  bottom: calc(~"53% - " @minus-header);
    .app-step:after {
    height: 40%;
  }
}

.next-3 {
  bottom: calc(~"67% - " @minus-header);
  .app-step:after {
    height: 30%;
  }
}

.next-4 {
  bottom: calc(~"79% - " @minus-header);
  .app-step:after {
    height: 20%;
  }
}

.next-5 {
  bottom: calc(~"87% - " @minus-header);
  .app-step:after {
    height: 10%;
  }
}

.steps-4 {
  .next-3 {
    bottom: calc(~"70% - " @minus-header);
  }
  .next-4 {
    bottom: calc(~"83% - " @minus-header);
  }
}

.steps-3 {
  .next-3 {
    bottom: calc(~"72% - " @minus-header);
  }
}

.steps-2 {
  .next-2 {
    bottom: calc(~"65% - " @minus-header);
  }
}


.steps-2 .next-wrapper .step-next:nth-child(-n+1) {
  display: block;
}
.steps-3 .next-wrapper .step-next:nth-child(-n+2) {
  display: block;
}
.steps-4 .next-wrapper .step-next:nth-child(-n+3) {
  display: block;
}
.steps-5 .next-wrapper .step-next:nth-child(-n+4) {
    display: block !important;
}
