@font-face {
  font-family: 'justice';
  src: url('../font/justice.eot?59980914');
  src: url('../font/justice.eot?59980914#iefix') format('embedded-opentype'),
       url('../font/justice.woff2?59980914') format('woff2'),
       url('../font/justice.woff?59980914') format('woff'),
       url('../font/justice.ttf?59980914') format('truetype'),
       url('../font/justice.svg?59980914#justice') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'justice';
    src: url('../font/justice.svg?59980914#justice') format('svg');
  }
}
*/
[class^="glyphicon-"]:before, [class*=" glyphicon-"]:before {
  font-family: "justice";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.glyphicon-mail:before { content: '\e800'; } /* '' */
.glyphicon-trash:before { content: '\e801'; } /* '' */
.glyphicon-plus:before { content: '\e802'; } /* '' */
.glyphicon-cancel:before { content: '\e803'; } /* '' */
.glyphicon-cancel-circled:before { content: '\e804'; } /* '' */
.glyphicon-pencil:before { content: '\e805'; } /* '' */
.glyphicon-lock:before { content: '\e806'; } /* '' */
.glyphicon-search:before { content: '\e807'; } /* '' */
.glyphicon-docs:before { content: '\e808'; } /* '' */
.glyphicon-doc:before { content: '\e809'; } /* '' */
.glyphicon-doc-text:before { content: '\e80a'; } /* '' */
.glyphicon-list-bullet:before { content: '\e80b'; } /* '' */
.glyphicon-folder-download:before { content: '\e80c'; } /* '' */
.glyphicon-down-open:before { content: '\e80d'; } /* '' */
.glyphicon-left-open:before { content: '\e80e'; } /* '' */
.glyphicon-right-open:before { content: '\e80f'; } /* '' */
.glyphicon-up-open:before { content: '\e810'; } /* '' */
.glyphicon-arrow-combo:before { content: '\e811'; } /* '' */
.glyphicon-down-dir:before { content: '\e812'; } /* '' */
.glyphicon-left-dir:before { content: '\e813'; } /* '' */
.glyphicon-right-dir:before { content: '\e814'; } /* '' */
.glyphicon-up-dir:before { content: '\e815'; } /* '' */
.glyphicon-plus-circled:before { content: '\e816'; } /* '' */
.glyphicon-minus:before { content: '\e817'; } /* '' */
.glyphicon-minus-circled:before { content: '\e818'; } /* '' */
.glyphicon-help-circled:before { content: '\e819'; } /* '' */
.glyphicon-info-circled:before { content: '\e81a'; } /* '' */
.glyphicon-link:before { content: '\e81b'; } /* '' */
.glyphicon-attach:before { content: '\e81c'; } /* '' */
.glyphicon-attention:before { content: '\e81d'; } /* '' */
.glyphicon-flag:before { content: '\e81e'; } /* '' */
.glyphicon-check:before { content: '\e81f'; } /* '' */
.glyphicon-move:before { content: '\e820'; } /* '' */
.glyphicon-file-audio:before { content: '\e821'; } /* '' */
.glyphicon-variables:before { content: '\e822'; } /* '' */
.glyphicon-download:before { content: '\e823'; } /* '' */
.glyphicon-down-circled:before { content: '\e824'; } /* '' */
.glyphicon-export:before { content: '\e825'; } /* '' */
.glyphicon-page-break:before { content: '\e826'; } /* '' */
.glyphicon-file-archive:before { content: '\e827'; } /* '' */
.glyphicon-file-pdf:before { content: '\e828'; } /* '' */
.glyphicon-file-code:before { content: '\e829'; } /* '' */
.glyphicon-zoom-out:before { content: '\e82a'; } /* '' */
.glyphicon-zoom-in:before { content: '\e82b'; } /* '' */
.glyphicon-resize-full:before { content: '\e82c'; } /* '' */
.glyphicon-resize-small:before { content: '\e82d'; } /* '' */
.glyphicon-popup:before { content: '\e82e'; } /* '' */
.glyphicon-left-thin:before { content: '\e82f'; } /* '' */
.glyphicon-right-thin:before { content: '\e830'; } /* '' */
.glyphicon-expand:before { content: '\e831'; } /* '' */
.glyphicon-lifebuoy:before { content: '\e832'; } /* '' */
.glyphicon-publish:before { content: '\e833'; } /* '' */
.glyphicon-spin6:before { content: '\e834'; } /* '' */
.glyphicon-resize:before { content: '\e835'; } /* '' */
.glyphicon-eye:before { content: '\e836'; } /* '' */
.glyphicon-cog:before { content: '\e837'; } /* '' */
.glyphicon-sitemap:before { content: '\e838'; } /* '' */
.glyphicon-list-numbered:before { content: '\e839'; } /* '' */
.glyphicon-clipboard:before { content: '\e83a'; } /* '' */
.glyphicon-doc-new:before { content: '\e83b'; } /* '' */
.glyphicon-new-message:before { content: '\e83c'; } /* '' */
.glyphicon-split:before { content: '\e83d'; } /* '' */
.glyphicon-lock-open-alt:before { content: '\e83e'; } /* '' */
.glyphicon-court:before { content: '\e83f'; } /* '' */
.glyphicon-justice:before { content: '\e840'; } /* '' */
.glyphicon-auction:before { content: '\e841'; } /* '' */
.glyphicon-folder-open:before { content: '\e842'; } /* '' */
.glyphicon-folder-upload:before { content: '\e843'; } /* '' */
.glyphicon-folder:before { content: '\e844'; } /* '' */
.glyphicon-collapse:before { content: '\e845'; } /* '' */
.glyphicon-mobile:before { content: '\e846'; } /* '' */
.glyphicon-cw:before { content: '\e847'; } /* '' */
.glyphicon-step-zero:before { content: '\e848'; } /* '' */
.glyphicon-floppy:before { content: '\e849'; } /* '' */
.glyphicon-info-circled-1:before { content: '\e84a'; } /* '' */
.glyphicon-attention-circled:before { content: '\e84b'; } /* '' */
.glyphicon-login:before { content: '\e84c'; } /* '' */
.glyphicon-arrows-ccw:before { content: '\e84d'; } /* '' */
.glyphicon-chart-bar:before { content: '\e84e'; } /* '' */
.glyphicon-link-ext:before { content: '\f08e'; } /* '' */
.glyphicon-exchange:before { content: '\f0ec'; } /* '' */
.glyphicon-circle-empty:before { content: '\f10c'; } /* '' */
.glyphicon-quote-left:before { content: '\f10d'; } /* '' */
.glyphicon-circle:before { content: '\f111'; } /* '' */
.glyphicon-circle-thin:before { content: '\f1db'; } /* '' */
.glyphicon-calc:before { content: '\f1ec'; } /* '' */
