@import '../../../main';

templates-toolbar {
  display: block;

  .btn.new-template, .btn.test-compile {
    margin-right: @grid-gutter-width/4;
  }
  .navbar.navbar-default {
    border-width: 0 0 1px 0;
  }
  .has-feedback {
    .form-control-clear {
      right: 48px;
      pointer-events: auto;
    }
  }
}
