.editicons,
.newediticons {
	width: 50px;

	.ui-icon {
  	display: inline-block;
  }
	.disabled {
		opacity: 0.5;
	}
	button {
		background: none;
		padding: 0;
		margin: 0;
		border: none;
		display: block;
		margin: auto;
	}
	.list-position {
		display: flex;
		gap: 5px;
		margin-bottom: 5px;

		button {
			background: black;
			color: white;
		}
	}
}
