.author-debug-panel {
  position: fixed;
  width: 400px;
}

#viewer-app.with-debug-panel {
  right: 0;
  left: 410px;
  position: fixed;
}

a2j-viewer-preview {
  a2j-viewer-navigation {
    .navbar.navbar-default {
      margin-bottom: 0;
    }
  }
}
