@import (reference) '../../styles/viewer/avatars.less';

skin-picker {
  .skin-lighter {
      background-color: @skin-lighter;
  }

  .skin-light {
      background-color: @skin-light;
  }

  .skin-medium {
      background-color: @skin-medium;
  }

  .skin-dark {
      background-color: @skin-dark;
  }

  .skin-darker {
      background-color: @skin-darker;
  }
}
