/**
  * @stylesheet a2j-pages-steps.less Pages and Steps
  * @parent styles-custom 3
  *
  * This describes the styles that help define specific CSS components in the A2J application.
**/

@color-border-width: 5px;
@color-border: @step4;

.pages-container, .popups-container, .special-container {
  .panel {
    position: relative;
    border-left:0;

    &:before, &:after {
      border: @color-border-width solid @color-border;
      border-right-width: 0;
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      top: -1px;
    }
    &:after {
      top: auto;
      bottom: -1px;
    }

    &:hover {
      .box-shadow;
      border-bottom-color: darken(@gray-lighter,10%);
      border-right-color: darken(@gray-lighter,10%);
    }
    .panel-body {
      padding: @grid-gutter-width/4;
      padding-left: @grid-gutter-width/4+@color-border-width/2;
    }
    .panel-heading {
      margin-left: 0;
    }

    &.accordion {
      &.collapsed {
        &.panel {
          &:before, &:after {
            border-color: desaturate(@color-border,30%);
          }
          &:hover {
            &:before, &:after {
              border-color: @color-border;
            }
          }
        }
        .panel-heading {
          &:hover {
            color: @text-color;
            border-color: darken(@gray-lighter,10%);
          }
        }
      }
    }
  }

  .list-group {
    .list-group-item {
      padding-right: 5px;

      .title {
        margin-right: @grid-gutter-width/4;
      }
      .description {
        color: lighten(@gray-light,10%);
      }
      .label {
        font-size: @font-size-small;
        padding: 0px 5px;
        position: relative;
        top: -1px;

        &:last-child {
          margin-right: 0;
        }
      }
      &.active {
        .title {
          color: @text-color;
        }
        .description {
          color: @gray-light;
        }
      }
    }
  }
}

// Put all the step color variables into an array
@steps: step0, step1, step2, step3, step4, step5, step6, step7, step8, step9, step10, step11, step12, step13, step14, step15;

.generate-step-colors(@steps) {
    .-(@i: length(@steps)) when (@i > 0) {
        @name: extract(@steps, @i);
        &#@{name} {.step-colors(@@name);}
        .-((@i - 1));
    } .-;
}
.generate-step-colors(@steps);

/**
  * @styles step-color-mixin Step Color Mixin
  * @parent a2j-pages-steps.less 2
  *
  * The `.step-colors()` mixin takes the color passed from the step colors array `@steps` and generates the CSS necessary for the panel left border color, hover, and active states for the Pages panel.
  *
  * For example:
  *
  * ```
  *  #step15 {
  *   .step-colors(@step15);
  *  }
  * ```
  *
**/

.step-colors(@color) {
  &.panel {
    &:before, &:after {
      border-color: @color;
    }
    &.accordion {
      &.collapsed {
        &.panel {
          &:before, &:after {
            border-color: desaturate(@color,30%);
          }
          &:hover {
            &:before, &:after {
              border-color: @color;
            }
          }
        }
      }
    }
  }
} // .step-colors

/**
  * @styles step-color-backgrounds Step Color Backgrounds
  * @parent a2j-pages-steps.less 3
  *
  * Contextual classes are also available using the A2J step colors. Just apply the class of the step similar to Bootstrap's convention for contextual backgrounds: `bg-step1`, `bg-step2`, etc...
  *
  * @demo docs/demos/step-colors/demo.html
**/

.generate-bg-classes(@steps);
.generate-step-wrapper-classes(@steps);

// Put all the color variables into an array for the demo
@color-palette: gray-base, gray-darker, gray-dark, gray, gray-light, gray-lighter, brand-primary, brand-success, brand-info, brand-warning, brand-danger, link-active-color, body-bg, text-color, link-color, link-hover-color;

// Generate a set of classes to style the demo
.style-demo {
  .generate-bg-classes(@color-palette);
}
