.codeedit, .xml {
	white-space: pre-wrap;
}
.xml {
	font-size: .5em;
}
div.codeedit.haserr {
	background-color: #fbb;
}
div.codeedit span.err {
	text-decoration: none;
	background-color: #f88;
	border: 1px;
	padding-bottom: 0px;
}
