@header-height: 80px;

header {
  position: fixed;
  width: 100%;
  height: @header-height;
  .border;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: @vert-navbar-width;
  top: 0;
  left: 0;
  background: @navbar-default-bg;
  z-index: @zindex-navbar;
  line-height: @header-height;

  .btn.btn-link {
     padding: 0;
  }
  .guidetitle {
    margin: 0;
    line-height: @header-height;
    font-size: @font-size-h3;
  }
}
