header {
  position: fixed;
  width: 100%;
  height: @navbar-height;
  .border;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: @vert-navbar-width;
  top: 0;
  left: 0;
  background: @navbar-default-bg;
  z-index: @zindex-navbar;

  .btn.btn-link {
     line-height: @navbar-height;
     padding: 0;
  }
}
