.reports {
  body {
    padding: @grid-gutter-width;

    .heading-step {
      margin-top: 0;
      margin-bottom: @grid-gutter-width/2;
    }
    .step-wrapper {
     .border;
      padding: @grid-gutter-width/2;
      margin-bottom: @grid-gutter-width;

      legend {
        .border;
      }
    }
  } // body
}
