/**
  * @stylesheet a2j-layout.less Layout
  * @parent styles-custom 1
  *
  * This defines some global styles that affect the layout of the overall application, specific to A2J Author.
**/

/**
  * @styles page Page
  * @parent a2j-layout.less 1
  *
  * The class `.page` is used as a wrapper class for everything inside the scrollable area of the app and adds some default spacing and gutter widths.
  *
  * ```
  * <div class="page">
  *  ...
  * </div>
  * ```
  *
**/
.page {
  padding: @grid-gutter-width;

  .page-title {
    margin-top: 0;
    margin-bottom: @grid-gutter-width;
  }
}

/**
  * @styles has-toolbar Has Toolbar
  * @parent a2j-layout.less 2
  *
  * Any `.page` with a class of `.has-toolbar` needs some additional styles to remove the top border from the default navbar and to apply positioning rules so that it's sticky.
  *
  * ```
  * <div class="page has-toolbar">
  *  <nav class="navbar navbar-default">
  *    ...
  *  </nav>
  * </div>
  * ```
  *
**/

.has-toolbar {

  .navbar {
    margin: 0;
    border-top: none;
    padding-right: @grid-gutter-width/2;
  }
}
