/**
  * @stylesheet a2j-pages-steps.less Pages and Steps
  * @parent styles-custom 3
  *
  * This describes the styles that help define specific CSS components in the A2J application.
**/
.pages-container, .popups-container, .special-container {
  .panel {
    border-left: 4px solid @btn-default-border;

    .panel-body {
      padding: @grid-gutter-width/4;

      .list-group {
        .list-group-item {
          padding-right: 5px;

          .title {
            margin-right: @grid-gutter-width/4;
          }
          .description {
            color: lighten(@gray-light,10%);
          }
          .label {
            font-size: @font-size-small;
            padding: 0px 5px;
            position: relative;
            top: -1px;

            &:last-child {
              margin-right: 0;
            }
          }
          &.active {
            .title {
              color: @text-color;
            }
            .description {
              color: @gray-light;
            }
          }
        }
      }
    }
    .panel-heading {
      margin-left: 0;
    }
  }
}
