author-debug-panel {
  display: block;

  #uploadAnswerFileInput {
    top: 0;
    left: 0;
    opacity: 0;
    height: 30px;
    position: absolute;
  }

  #viewer-logic-form {
    position: fixed;
    top: 50%;
    left: 0;
    bottom: 0;
    width: 400px;
    border: 1px solid #bbb;
  }

  #viewer-var-form {
    top: 0;
    left: 0;
    bottom: 50%;
    width: 400px;
    position: fixed;
    border: 1px solid #bbb;
  }

  .tracepanel {
    top: 0;
    left: 0;
    right: 0;
    bottom: 32px;
    overflow-y: scroll;
    position: absolute;
  }

  .immediatepanel {
    left: 0;
    right: 0;
    margin: 4px;
    padding: 4px;
    height: 24px;
    bottom: 10px;
    position: absolute;

    #tracerimm {
      width: 50%;
    }

    #clearTrace {
      float: right;
    }
  }

  .varvalpanel {
    left: 0;
    right: 0;
    top: 3em;
    bottom: 0;
    font-size: 9px;
    position: absolute;
    overflow-y: scroll;
    background-color: #fdd;

    table {
      width: 100%;
      border-style: solid;
      border-width: thin;
      border-color: #fff;
      padding: .2em;

      tr {
        cursor: pointer;

        &:nth-child(even) {
          background-color: rgba(240, 240, 240, 0.5);
        }

        &:nth-child(odd) {
          background-color:rgba(255, 255, 255, 0.5);
        }
      }

      th {
        border-style: solid;
        border-width: thick;
        border-color: #F0F7FA;
        padding: .8em;
        font-size: 1.1em;
        background-color: #F0F7FA;
      }
    }
  }

  .ui-button-text {
    font-size: 12px;
    font-weight: normal;
  }

  label {
    font-size: 12px;
    font-weight: normal;
  }
}
