free-form {
  display: block;
  position: relative;

  .options-popover-overrides {
    top: -120px;
    left: 340px;
    position: relative;
  }

  element-options-pane .popover {
    .options-popover-overrides() !important;
  }
}
