@import "../../../styles/viewer/variables.less";

a2j-viewer-navigation {
  .focus-main-content a {
    padding: 0px!important;
    top:-60px;
    -webkit-transition: top 1s ease-out;
      transition: top 1s ease-out;
      z-index: 100;
  }

  .focus-main-content a:focus {
    top:0px;
    padding: 15px 10px!important;
    outline-color:transparent;
    -webkit-transition: top .1s ease-in;
      transition: top .1s ease-in;
  }

  .demo-notice .alert {
    border-top: 0;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    position: inherit;
    margin-bottom: 0;
    top: @viewer-navbar-height;
    width: 100%;
    z-index: 11;
  }
  .navbar-nav.navbar-right {
    margin-right: 0;
    float: right!important;
  }

  .navbar-collapse.collapse {
    display: block!important;
  }

  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }

  .nav li.divider {
    margin: 10px;
  }
}
