@import "../../../styles/viewer/variables.less";

a2j-viewer-navigation {
  #skiptocontent a {
    padding:6px;
    position: absolute;
    top:-60px;
    left:0px;
    height: @viewer-navbar-height;
    columns: #494848;
    border-right:1px solid white;
    border-bottom:1px solid white;
    border-bottom-right-radius:8px;
    background: #f8f8f8;;
    -webkit-transition: top 1s ease-out;
      transition: top 1s ease-out;
      z-index: 100;
  }

  #skiptocontent a:focus {
    position:absolute;
    height: @viewer-navbar-height;
    left:0px;
    top:0px;
    outline-color:transparent;
    -webkit-transition: top .1s ease-in;
      transition: top .1s ease-in;
  }

  .demo-notice .alert {
    border-top: 0;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    position: inherit;
    margin-bottom: 0;
    top: @viewer-navbar-height;
    width: 100%;
    z-index: 11;
  }
  .navbar-nav.navbar-right {
    margin-right: 0;
    float: right!important;
  }

  .navbar-collapse.collapse {
    display: block!important;
  }

  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }

  .nav li.divider {
    margin: 10px;
  }
}
