.body-bg {
	background-color: #ffffff;
	border: 1px solid #f0f0f0;
}
.text-color {
  background-color:#3d3d3d;
}
.text-color-on-dark, .text-color-on-dark a {
	color: #ffffff;
	background-color: #767676;
}
.text-color-on-dark a:hover {
	color: #f0f0f0;
}
.link-color {
  background-color: #0179b5;
}
.link-hover-color {
  background-color: #003550;

}
.link-hover-color-text {
	 color: #003550;
}
.link-hover-decoration a {
  text-decoration: underline;
}
