<!DOCTYPE html>
<html>
  <head>
    <title>&lt;a2j-template-ssr&gt;</title>
  </head>

  <body>
    <div class="bootstrap-styles" >
      <div class="row clearfix" style="margin-top: 20px;">
        <div class="col-md-12 app"></div>
      </div>
    </div>

    <script>window.less = { async: true };</script>

    <script src="../../../../node_modules/steal/steal.js" main="@empty">
      var $ = require('jquery');
      var stache = require('can/view/stache/');

      require('caja/author/styles.less!');
      require('caja/author/templates/elements/a2j-template-ssr/');

      var template = '<a2j-template-ssr {guide-id}="guideId" {answers}="answers" />';
      var answers = {"user gender":{"name":"User Gender","repeating":false,"type":"MC","values":[null,"Male"]},"client first name te":{"name":"Client first name TE","repeating":false,"type":"Text","values":[null,"Manuel"]},"client middle name te":{"name":"Client middle name TE","repeating":false,"type":"Text","values":[null,"Antonio"]},"client last name te":{"name":"Client last name TE","repeating":false,"type":"Text","values":[null,"Mujica"]},"a2j version":{"name":"A2J Version","repeating":false,"type":"Text","values":[null,"5.0.2.4"]},"a2j interview id":{"name":"A2J Interview ID","repeating":false,"type":"Text","values":[null,"1276765160"]},"a2j bookmark":{"name":"A2J Bookmark","repeating":false,"type":"Text","values":[null,"1-Question 1"]},"a2j history":{"name":"A2J History","repeating":false,"type":"Text","values":[null,"&lt;LABELS/&gt;"]}};
      var frag = stache(template);

      $('.app').append(frag({
        guideId: '1261',
        answers: JSON.stringify(answers)
      }));
    </script>
  </body>
</html>
