section-title {
  display: block;

  hr.title-underline {
    margin: 0;
    border-top: 1px solid #000;
  }

  .options-popover {
    top: -150px;
    width: 300px;
    left: 300px;
    position: relative;
  }

  app-popover .popover {
    .options-popover() !important;
  }
}
