<!DOCTYPE html>
<html>
  <head>
    <title>&lt;var-picker&gt;</title>
  </head>

  <body>
    <script id="template" type="text/stache" can-autorender>
      <can-import from="author/styles.less!" />
      <can-import from="author/templates/elements/varpicker/demo/" />

      <div class="bootstrap-styles" >
        <div class="row clearfix" style="margin-top: 20px;">
          <div class="col-md-6 col-md-offset-3">
            <varpicker-demo />
          </div>
        </div>
      </div>
    </script>

    <script src="../../../../node_modules/steal/steal.js" main="can/view/autorender/">
      window.less = { async: true };
    </script>
  </body>
</html>
