/**
* @stylesheet color-palette.less Color Palette
* @parent styles-theme 3
*
* @description
* The colors included in this theme have been evaluated to be consistent with accessibility
* requirements, so it is discouraged to apply opacity or other manipulations to create
* new shades or tints. See [typography.less] for further explanation of their use for text
* and background colors.
*
* Color variable names follow the ocean theme and evoke the color they make reference.
**/

/**
* @styles bootstrap-brand-colors Bootstrap Brand Colors
* @parent color-palette.less 2
*
* These colors are used across Bootstrap by default. The ones with names in parenthesis have
* been mapped into the theme color palette and are used in baseline elements and custom components.
* However these variables persist to enable their usage in bootstrap components.
*
* @iframe docs/demos/color-palette/brand-colors/demo.html 461
**/

@gray-base:              #000;
@gray-darker:            #313131;
@gray-dark:              #3D3D3D;
@gray:                   #767676;
@gray-light:             #DEDEDE;
@gray-lighter:           #F0F0F0;

@brand-primary:         #0179b5;
@brand-success:         #75A347;
@brand-info:            #009DD9;
@brand-warning:         #DCB64B;
@brand-danger:          #CC0024;

/**
* @styles primary-theme-colors Primary Theme Colors
* @parent color-palette.less 0
*
* @iframe docs/demos/color-palette/theme-colors/demo-primary.html 409
**/

@orca: @gray-base;
@humpback:  @gray-darker;
@castleRock: @gray-dark;
@thunderCloud: @gray;
@overCast: #A8A7A7;
@pacific: #C6C6C6;
@dolphin: @gray-light;
@clam: @gray-lighter;
@white: #FFFFFF;
@whiteTip: #FFFFFF;
@coral: @brand-primary;
@deepSea: darken(@coral, 15%);

/**
* @styles secondary-theme-colors Secondary Theme Colors
* @parent color-palette.less 1
*
* Use these colors sparingly and only for accent purposes to avoid the 'rainbow' effect.
*
* @iframe docs/demos/color-palette/theme-colors/demo-secondary.html 356
**/

@ocean: #83D4FC;
@eelGrass: @brand-success;
@discus: #68D19B;
@lobster: @brand-danger;
@octopus: #F09DA0;
@seahorse: @brand-warning;
@seaStar: #DF5000;

/**
* @styles scaffolding-colors Scaffolding Colors
* @parent color-palette.less 3
*
* These colors are used for the most global elements, like the body tag, the paragraph tag,
* and the default link elements. See the [typography](typography.less.html) section for guidance on how to use these
* colors on text and link elements.
*
* @iframe docs/demos/color-palette/scaffolding-colors/demo.html 219
**/

@body-bg:               white;
@text-color:            @gray-dark;

@link-color:            @coral;
@link-hover-color:      @deepSea;
@link-hover-decoration: underline;

@link-color-dark: 		@whiteTip;
@link-hover-color-dark: @clam;

