// styles currently from global imports
about-authors {
    display: block;
    .author-item {
        border-top: 1px solid #e0e0e0;
        padding: 20px;
        &:nth-child(odd) {
            background-color: #f9f9f9;
        }
    }
}
