<div class="container home-page">
  <h1><img src="static/img/cali-logo-2x.gif" alt="CALI, A2J Documentation" /></h1>
  <p>This is the documentation for the A2J Viewer and Author applications, as well as overall style guide for using the CSS.</p>

    <a class="home-links">
      <img src="static/img/" />
      <h2>Style Guide</h2>
    </a>
    <a class="home-links">
      <img src="static/img/" />
      <h2>Author API</h2>
    </a>
    <a class="home-links">
      <img src="static/img/" />
      <h2>Viewer API</h2>
    </a>
</div>
<br />
