mapper-toolbar {
  display: block;
  .navbar.navbar-default, .navbar.navbar-inverse {
    margin-bottom: 0;
  }
  .non-link {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .select-menu {
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}
