// This is a local production sample of the config file read by the Document template
// and assembly API server by NodeJS. It assumes serving the app from the `Sites`
// folder on MacOS using MAMP, with default user and password of `root` for the database.
// This is obviously not secure, and would be updated in a true production environment
//
// note: The `DRUPAL` variables are not used locally, but require a value
//  to be entered.

{
  "SERVER_URL": "http://localhost/CALI/CAJA",
  "GUIDES_DIR": "/Users/mitchel/Sites/CALI/CAJA/userfiles/",
  "GUIDES_URL": "/CAJA/userfiles/",
  "SQL_HOST": "localhost",
  "SQL_USERNAME": "root",
  "SQL_PASSWD": "root",
  "SQL_DBNAME": "caja",
  "SQL_PORT": 3306,
  "DRUPAL_HOST": "localhost",
  "DRUPAL_USERNAME": "root",
  "DRUPAL_PASSWD": "root",
  "DRUPAL_DBNAME": "D7commons",
  "DRUPAL_PORT": 3306
}
