@import '../styles/a2j-custom/a2j-mixins';

app-alert {
  display: block;

  .alert {
    padding-left: @grid-gutter-width/4;
    padding-bottom: @grid-gutter-width/4;
    padding-top: @grid-gutter-width/4;
  }
  .alert.alert-default {
    border: 1px solid @alert-border-color;
  }
}
