@import '../styles/a2j-custom/a2j-mixins.less';

.vertical-navbar {
  display: block;

  .logo {
    margin: 8px auto;
    width: 51px;
    height: 53px;
    display: block;
  }
  .authorver {
    .text-center;
    padding-top: @vert-navbar-padding-horizontal;
    padding-bottom: @vert-navbar-padding-horizontal;
    margin-top: @vert-navbar-padding-horizontal;
  }
}
