@import '../styles/a2j-custom/a2j-mixins.less';

.vertical-navbar {
  display: block;

  .logo {
    margin: 8px auto;
    width: 51px;
    height: 53px;
    display: block;

    @media (max-width: @screen-sm) {
      max-width: 80% !important;
    }
  }
  .authorver {
    .text-center;
    padding-top: @vert-navbar-padding-horizontal;
    padding-bottom: @vert-navbar-padding-horizontal;
    margin-top: @vert-navbar-padding-horizontal;
    font-size: 10px;

    @media (max-width: @screen-sm) {
      display: none;
    }
  }
}
