mapper-editor {
  display: block;
  height: 100%;

  .mapper-editor-container {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    height: 100vh;
    overflow: scroll;
    // TODO: this is required to force the height on the overflow scroll.
    .force-height {
      height: 160px;
    }
  }

  .page-info {
    padding: 15px 10px;
  }

  .header-label {
    background-color: #333;
    padding: 10px 15px;
    h3 {
      font-size: 14px !important;
      color: #fff !important;
      margin: 0 !important;
      padding: 0 !important;
      display: inline-block;
      text-transform: uppercase;
    }
  }

  .border-bottom {
    border-bottom: 1px solid #ccc;
    &:last-of-type {
      border: 0;
    }
  }

  input[type=text] {
    margin-bottom: 10px;
  }
  
  .open-qde-button {
    font-size: 11px !important;
  }
}
