@import '../main';

button-toolbar {
  display: block;
  height: @navbar-height;
  .border;
  border-top: none;
  border-left: none;
  border-right: none;

  .btn-divider {
    border-left: 1px solid @gray-lighter;
  }
}
