@import (reference) '../../styles/viewer/avatars.less';

hair-picker {
  .hair-blonde {
    background-color: @hair-blonde;
  }

  .hair-red {
    background-color: @hair-red;
  }

  .hair-brown-light {
    background-color: @hair-brown-light;
  }

  .hair-brown-medium {
    background-color: @hair-brown-medium;
  }

  .hair-brown-dark {
    background-color: @hair-brown-dark;
  }

  .hair-gray-dark {
    background-color: @hair-gray-dark;
  }

  .hair-gray-light {
    background-color: @hair-gray-light;
  }

  .hair-bald {
    background-color: @hair-bald;
  }
}
