@import '../styles/bootstrap-overrides/variables';

app-header {
  display: block;

  header .btn.btn-link {
    color: @navbar-default-link-color;
    margin-right: 10px;

    &:hover {
      color: @navbar-default-link-color;
    }
  }
}
