 .orca {
      background-color: #000;
    }
    .humpback {
      background-color: #313131;
    }
    .castleRock {
      background-color: #3D3D3D;
    }
    .thunderCloud {
      background-color: #767676;
    }
    .pacific {
        background-color: #C6C6C6;
    }
    .dolphin{
      background-color: #DEDEDE;
    }
    .clam {
      background-color: #F0F0F0;
    }
    .coral {
      background-color: #0179b5;
    }
    .ocean {
      background-color: #83D4FC;
    }
    .eelGrass {
      background-color: #75A347;
    }
    .discus {
      background-color: #68D19B;
    }
    .lobster {
      background-color: #CC0024;
    }
    .octopus {
      background-color: #F09DA0;
    }
    .seahorse {
      background-color: #DCB64B;
    }
    .bumbleBee {
      background-color: #A7870C;
    }
    .whiteTip{
      background-color: #FFFFFF;
      border: 1px solid #DEDEDE;
    }
    .overCast {
      background-color: #A8A7A7;
    }
    .seaStar {
      background-color: #DF5000;
    }
    .deepSea {
        background-color: #003550;
    }
