@import (reference) '../../styles';

steps-tab {
  display: block;

  .use-intro-page input {
    width: 1.5em;
    height: 1.5em;
    margin: 1em;
    vertical-align: middle;
  }

  .step-number {
    width: 50px;
    min-width: 50px;
  }

  .move-button.move-button {
    background: black;
    color: white;
    margin: 8px;
    &.disabled {
      opacity: 0.5
    }
  }
}
