author-debug-alerts {
  left: 50px;
  right: 50px;
  bottom: 50px;
  overflow: auto;
  display: block;
  max-height: 250px;
  z-index: 99999999;
  position: absolute;

  app-alert .alert {
    margin-bottom: 0;
  }

  .btn-dismiss .badge {
    top: -1px;
    line-height: 1;
    font-size: 12px;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: 700;
    margin-left: 3px;
    text-align: center;
    position: relative;
    white-space: nowrap;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}
