a2j-repeat-loop-options {
  display: block;

  .table-column-buttons {
    padding: 5px;

    .label.label-success,
    .label.label-danger {
      border-radius: 10px;
    }
  }

  .table-form-row {
    margin-bottom: 5px;
  }
}
