@import "../../../../../../styles/bootstrap-overrides/z-index.less";
@import "../../../../../../styles/bootstrap-overrides/color-palette.less";

div.ui-datepicker {
  z-index: @zindex-popover !important;
  border: 1px solid #777777;
  border-radius: 4px;
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: @body-bg;
    color: @gray-base;
    font-weight: normal;
    padding: 5px;
  }
  .ui-datepicker-current-day .ui-state-active {
    font-weight: bold;
    background: @brand-secondary;
    color: @body-bg;
    border: 1px solid @brand-secondary;
  }
  .ui-datepicker .ui-datepicker-title {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
  }
}

img {
  margin: 2px 0px;
  height: 22px;
  width: auto;
}

button.ui-datepicker-trigger {
  float:right;
}
