@charset "utf-8";
/*
	A2J Author 5 * Justice * 正义 * công lý * правосудие
	All Contents Copyright The Center for Computer-Assisted Legal Instruction
	
	A2J Viewer Stylesheet 
	02/02/2012  (03/10/2011 SJG)
	04/15/2013
*/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow: scroll;
}
body {
	background-color:#000;
}
* {
	color:#fff;
}
P.Script, LI.Script, BLOCKQUOTE.Script {
	border: thin solid #CC9966;
	background-color: #121;
	margin: 2px;
	padding: 3px;
}

PRE {
	font-size: 15px;
	
}

.Script {
	font-weight: normal;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	color: #ddf;
}
.Script B {
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	color: #093;
}
.Script I {
	font-style: italic;
	font-family:  Arial, Helvetica, sans-serif;
	color: #fff;
}
.ScriptTrace{
	font-weight: normal;
	font-family: "Courier New", Courier, monospace;
	font-size: 8pt; 
	border: thin solid #CC9966;
	background-color: #131;
}
.ScriptVariables table tr td{
	border: thin solid #CC9966;
	background-color: #121;
	font-size: 8pt; 
	margin: 1px;
	padding: 2px;
}
x.Macro {
	border: thin solid #CC9966;
	background-color: #121;
	padding: 15px;
	font-size: smaller;
}
.ScriptErr{
	font-weight: bold;
	color: #f00;
}



.ScriptTrace li{
	font-weight: normal;
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	line-height: normal;
	border: none;
	background-color: #111;
	margin: 3px;
	padding: 2px;
}
span.code, span.var, span.varidx, span.val, span.page {  
}
span.code {
	border: thin solid #CC9966;
	background-color: #222;
}
span.var {
	border: thin solid #CC9966;
	background-color: #331;
}
span.varidx {
	border: thin solid #CC9966;
	background-color: #311
}
span.val{
	border: thin solid #CC9966;
	background-color: #313;
}
span.page {
	border: thin solid #CC9966;
	background-color: #113;
}
span.err {
	text-decoration: none;
	border-bottom: dashed  1px #f00;
	padding-bottom: 0px;
 }
th {
	font-weight: normal;
}
td.colVar {
	color:#0ff;
}
td.colIndex {
	color:#ff0;
}
td.colValue {
	color:#f0f;
}
td.varnew {
	color:#0f0;
}
td.varsame {
	color:#fff;
}
td.vardiff {
	color:#fff;
} 
td.logic {
}
table.testPages td.logic p   {
	color: #8f8;
	border-bottom: dotted 1px;
	xpadding-bottom: .5em;
	background-color:#222;
	xwhite-space: normal;
	line-spacing: 1em;
	padding: 2px;
	margin: 0px;
	xmargin-top: .5em;
} 
table.testPages td.logic blockquote {
	background-color:#242;
	line-spacing: 1em;
	padding: 0px;
	margin-top: 0;
	margin-bottom: 0;
} 
td.macro {
	background-color:#000;
}
table.testPages td.macro p   {
	color: #f8f;
	background-color:#111;
	line-spacing: 1em;
	padding: 2px;
	margin: 0px;
} 
/* */
