// styles currently from global imports
@import (reference) '../../../styles/bootstrap-overrides/color-palette.less';

about-layout {
  display: block;

  .navpanelopen {
    label {
      cursor: pointer;
    }
    [type="checkbox"] {
      height: 20px;
      width: 20px;
      vertical-align: bottom;
      margin-right: 5px;
    }
  }

  #logo-image-progress, #end-image-progress {
    .bar {
      width: 0%;
      height: 10px;
      background-color: @brand-primary;
      max-width: 100px;
    }
    &.darken-div-anim {
      animation: fadetogray 1s forwards;
      max-width: 100px;
    }
    @keyframes fadetogray {
      0%, 100% {
        background-color: transparent;
      }
      100% {
        background-color: @gray-lighter;
      }
    }
  }
}
