<!DOCTYPE html>
<html>
  <head>
    <title>&lt;templates-page&gt;</title>
  </head>

  <body>
    <script type="text/stache" can-autorender>
      <can-import from="caja/author/main.less!" />
      <can-import from="caja/author/templates/" />
      <can-import from="caja/author/models/fixtures/" />

      <div class="bootstrap-styles">
        <templates-page></templates-page>
      </div>
    </script>


    <script src="../../../node_modules/steal/steal.js"
      data-main="can/view/autorender/">
      window.less = {
        async: true,
        fileSync: true
      };
    </script>
  </body>
</html>
