@charset "utf-8";
/*
	A2J Author 5 * Justice * 正义 * công lý * правосудие
	All Contents Copyright The Center for Computer-Assisted Legal Instruction
	
	A2J Viewer Stylesheet 
	02/02/2012  (03/10/2011 SJG)
	04/15/2013
*/

div.question.bubble, div.learnmore.bubble {
	font-size: 1em;
}

.hidestart { /* hide some elements initially */
	display: none;
}
html, body{
	margin:0px;
	padding:0px;
}
.ViewerApp  {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	/*overflow: none;*/
}
#a2jbtn {
	position: absolute;
	width: 200px;
	height: 32px;
	top: 45px;
	left: 5px;
	background-image: url(images/A2J5_Viewer_Logo.png);
}

.SJILogo {
	width: 90px;
	height: 55px;
	padding: 3px;
	margin: 0px;
	background-image: url(images/SJILogo.png);
	display: inline;
	float: left;
}



.A2JViewer {
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	
	border: 1px solid #444;
	color: #000;
	background-color:#fff;
	margin: 0px;
	padding: 0px;
}
.A2JViewer.test {
	left:410px;
}
.testing {
	position:fixed;
	width:400px;
	top: 0;
	left: 0;
	bottom: 0;
	overflow:hidden;	
	background-color: #eee;
}

.A2JViewer fieldset {
	border: none;
}
.A2JViewer .notice {
	position: absolute;
	bottom: 0px;
	margin: 0.5em;
	padding: 0px;
}
.A2JViewer .license {
	background-color: rgba(255,255,255,.8);
}

.A2JViewer .NavBar {
	margin: 0px;
	padding: 5px;
	height: 32px;/* 20px; */
	background-color: #eee;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-left-color: #000;
	width: auto;
}
.A2JViewer .NavBar li {
	float: left;
	display:inline;
	margin-left: 1em;
	margin-right: 1em;
	padding: 1px;
	vertical-align: middle;
	list-style: none;
}
.A2JViewer .NavBar li a {
	border-radius:5px;
	text-decoration:none;
	font-style: normal;
	font-weight: normal;
	padding: 2px;
	padding-left: 1em;
	padding-right: 1em;
	margin: 3px;
	color:#000;
	white-space: nowrap;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width:  thin;
	border-left-width: thin; 
	border-top-style: none; 
	border-right-style: none; 
	border-bottom-style: none; 
	border-left-style:  none;
	border-top-color: #eee; 
	border-right-color: #eee; 
	border-bottom-color: #eee; 
	border-left-color: #eee; 
}
.A2JViewer .NavBar li a:hover, .Viewer .NavBar li a:focus{
	margin: 2px;
	border-top-color: #FCFCFC;
	border-top-style: outset;
	border-right-color: #FCFCFC;
	border-right-style: outset;
	border-bottom-color: #FCFCFC;
	border-bottom-style: outset;
	border-left-color: #FCFCFC;
	border-left-style: outset;
}
.NavBar button.ui-state-default {
	background: transparent;
	color: #000;
}
.NavBar button.ui-button-disabled {
	background: transparent;
	color: #888;
}
.NavBar button.ui-state-default .ui-icon {
	background-image: url(images/ui-icons_222222_256x240.png);
}
/*
.NavBar > li { float: left; display: block; width: auto !important; }
.NavBar > li > a > span { float: left; display: block; clear: both; overflow: hidden;}
.NavBar > li > a { float: left; display: block; clear: both; overflow: hidden;}
*/
.customSelect { 
/* This is the default class that is used */
/* Put whatever custom styles you want here */
}
/*
.ui-menu { overflow: hidden;  }
.ui-menu .ui-menu { overflow: visible !important; }
.ui-menu > li { float: left; display: block; width: auto !important; }
.ui-menu > li { margin: 5px 5px !important; padding: 0 0 !important; }

.ui-menu > li > a { float: left; display: block; clear: both; overflow: hidden;}
.ui-menu > li > span { float: left; display: block; clear: both; overflow: hidden;}
.ui-menu > li > div {  display: block; clear: both; overflow: hidden;}
.ui-menu .ui-menu-icon { margin-top: 0.3em !important;}

.ui-menu .ui-menu .ui-menu li { float: left; display: block;}
.ui-menu .ui-menu > li {float: none;  margin: 5px 5px !important; padding: 0 0 !important; }

.A2JViewer .NavBar.ui-menu { overflow: visible  !important; height:2.0em;}
*/



.left {
	float: left;
}
.right {
	float: right;
}
/*.interact {
	xclear: both;
}
*/
.infobar{
	padding: 10px;
	background-color:#000;
	color:#fff;
}



.A2JViewer .debugmenu {
	position: absolute;
	bottom: 15px;
	left: 5px;
}

.A2JViewer .interact {
	overflow: auto;
	position: absolute;
	top:43px;
	bottom:00;
	width: 100%;
}

div.bubble {
	width: 300px;
	border-radius:12px;
	border: 1px solid #bbb;
	background-color: #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.question.bubble, div.learnmore.bubble {/* question bubble */
	margin:  0px;
	padding:  10px;
	/*min-height: 150px;*/
	/*max-height: 500px;*/
}
div.question.bubble > div, div.learnmore.bubble > div{ /* form with viewer's field inputs */
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow: auto;
	min-height: 150px;
	max-height: 500px; 
	position: relative;  
}
div.learnmore.bubble, div.learnmore.bubble > div {
	min-height: 50px;
	max-height: 500px; 
}

/*
.A2JViewer input[type=radio], .A2JViewer input[type=checkbox] {
	display: inline;
}
div.question.bubble fieldset div.row{  
	margin: 0;
	margin-top: .5em;
	padding: 0;
	width: 100%;
	display: table-row;
}
div.question.bubble div fieldset label {
    text-align: left;
	 width: 33%;
}
div.question.bubble fieldset div.row input[type=text].text {
	width: 66%;
}
div.question.bubble fieldset div.row input[type=text].number {
	width: 66%;
	xwidth: 10em;
}
*/
.question input, .question textarea, .question select {
	font-size: inherit;/*ensure font size isn't smaller */
	background-color: #fff;
}
.question .text, .question .textarea, .question .maxwidth {
	width: 100%;
}
.question .field {
	position: relative;
	padding-top: .5em;
	width: 100%;	
}
.question .labelinput {
	position: relative;
}
.question .labelinput input {
	vertical-align: middle;
	margin: 0px;
	position: absolute;
	top: 3px;
}
.question .labelinput label {
	margin-left: 30px;
	display: block;
}
.question .label {
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
.question .input {
	display: inline-block ;
	vertical-align: bottom;
	width: 65%;
}
div.question.ui-form input {
	display: inline;
}
div.question.bubble fieldset div.row input[type=text] {
	background-color:#fff;
}

div.question.bubble div div.buttonlist, div.learnmore.bubble div div.buttonlist{
	bottom: 4px;
	right: 4px;
	width: 100%; 
	min-height:  1px; 
}
div.question.bubble div div.buttonlist{
	text-align:right;
}
div.learnmore.bubble div div.buttonlist{
	text-align:center;
}
div.question.bubble div fieldset{
	text-align:left;
}


.Step0 { background-color: #ffffff; }
.Step1, .Step7 { background-color: #BDD6D6; }
.Step2, .Step8  { background-color: #B7DDB7; }
.Step3, .Step9  { background-color: #EFC68C; }
.Step4, .Step10 { background-color:#E7E7B5; }
.Step5, .Step11 { background-color:#EFDED6; }
.Step6, .Step12 { background-color:#ECD8EA; }

div.step  {
	border: 1px solid #808;
	position: relative;
	background-color:#eef;
	width: 960px;
	height: 660px;
	overflow: hidden;
}
div.stepsign {
	/*-moz-transform: scale( 1);*/
	position: relative;
	width: 440px;
	height: 150px;
	background-image: url(images/step_sign.png);
	background-repeat: no-repeat;
}
div.stepsigncolor {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 110px;
	bottom: 70px;
}
div.stepnumber {
	font-size: 24px;
	text-align:center;
	position: absolute;
	border-radius:  32px;
	left: 15px;
	top: 15px;
	width: 32px;
	height:  32px;
	padding: 5px;
	margin: 2px;
	border: 3px solid #000;
}
div.steptext {
	font-size: 22px;
	position: absolute;
	left: 70px;
	top: 10px;
	right: 120px;
	bottom: 10px;
}
div.stepnumber.step1 { 	font-size:1em; }
div.stepnumber.step2 { 	font-size: 1em; }
div.steptext.step1 { 	font-size: 1.5em; }
div.steptext.step2 { 	font-size: 1em; }


/* Debugging Aids */

.codeedit, .xml, #tracer li {
	/*font-family: Monospace;*/
}
#tracer {
	padding-left: -5px;
}
#tracer li{
	font-weight: normal;
	/*font-family: "Courier New", Courier, monospace;*/
	font-size: 9px;
	line-height: inherit;
	border: none;
	/*background-color: #ddd;*/
	margin: 1px;
	padding: 2px;
}
span.code, span.var, span.varidx, span.val, span.page, span.valT,span.valF,span.info {
	padding: 2px;
	margin: 2px;
}
span.ui { /* color button pressed by client */
	border: thin solid #fea;
	background-color: #ccf;
}
span.info { /* color comment */
	border: thin solid #fea;
	background-color: #ddd;
}
span.code {
	border: thin solid #CC9966;
	background-color: #ddd;
}
span.var {
	background-color: #F5DEB3;
}
span.varidx {
	background-color: #fcc
}
span.valT{ /* if value is True */
	border: thin solid #CC9966;
	background-color: #90EE90;
}
span.valF{ /* if value is False */
	border: thin solid #CC9966;
	background-color: #FFC0CB;
}
span.valBlank{/* if value is blank or null */
	border: thin solid #CC9966;
	background-color: #DCDCDC;
}
span.val{/* if value is anything else */
	border: thin solid #CC9966;
	background-color: #FFD700;
}
span.page {
	background-color: #ddf;
}
span.err {
	text-decoration: none;
	border-bottom: dashed  1px #f00;
	padding-bottom: 0px;
 }

.ViewerVarForm .varvalpanel{
	position:absolute;
	top: 3em;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	background-color: #fdd;
	font-size: 9px;
}

.ViewerVarForm .varvalpanel table.A2JVars  {
	width:100%;
	border-style:solid;
	border-width:thin;
	border-color:#fff;
}
.ViewerVarForm .varvalpanel table.A2JVars {
 	padding:.2em; 
}
.ViewerVarForm .varvalpanel table.A2JVars tr {
	cursor:pointer;
}
.ViewerVarForm .varvalpanel table.A2JVars tr:nth-child(even)
{	background-color:rgba(240,240,240,0.5);}
.ViewerVarForm .varvalpanel table.A2JVars tr:nth-child(odd)
{	background-color:rgba(255,255,255,0.5);}


.ViewerVarForm div {
	white-space: nowrap;
}
.ViewerVarForm div input {
	display: inline;
}

.ViewerLogicForm .tracepanel{
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 32px;
	overflow-y: scroll;
}
.ViewerLogicForm .immediatepanel{
	position:absolute;
	bottom: 0px;
	height: 20px;
	left: 0;
	right: 0;
	padding: 4px;
	margin: 4px;
}
.ViewerLogicForm .immediatepanel input {
	width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#page-viewer.ViewerApp  .ViewerVarForm {
	position: fixed;
	top:0;
	left:0;
	bottom: 50%;
	width: 400px;
	border: 1px solid #bbb;
}
#page-viewer.ViewerApp   .ViewerLogicForm {
	position: fixed;
	top:50%;
	left:0;
	bottom: 0;
	width: 400px;
	border: 1px solid #bbb;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

/* */
