@import '../../styles/a2j-custom/a2j-mixins';

templates-list {
  display: block;

  ul {
    padding: 0;
    list-style: none;
  }

  &.active-templates {
    templates-list-item > .template-wrapper {
      opacity: 1;
      .transition(opacity, linear, 1s);

      &.deleting {
        opacity: 0;
      }
    }
  }

  &.deleted-templates {
    templates-list-item > .template-wrapper {
      opacity: 1;
      .transition(opacity, linear, 1s);

      &.restoring {
        opacity: 0;
      }
    }
  }

  .drag-placeholder {
    .template-details {
      border: 1px dashed @gray-light;
      background-color: @gray-lighter !important;
    }

    .template-details > .row {
      visibility: hidden;
    }
  }
}
