@import '../../../styles/a2j-custom/a2j-mixins';

templates-sortbar {
  display: block;
  margin-bottom: @grid-gutter-width/2;
  font-size: @font-size-small;

  .sort-order {
    float: left;
    width: 30px;
    display: inline-block;
  }
  .sort-columns {
    padding-left: @grid-gutter-width/2;
    position: relative;
    overflow: hidden;
  }

  // qualifying was needed to increase specificity
  a.sort-flag {
    color: @gray-light;
    padding-top: @grid-gutter-width/2 0;

    &:hover,
    &:focus {
      color: @gray-light;
      text-decoration: none;
    }
    &.active {
      color: @link-active-color;
    }
  }
}
