a2j-viewer-avatar {
  display: block;

  // the parentheses after the mixin name prevent the mixin code to be output
  .scaling-svg-mixin() {
    width: 100% !important;

    // https://css-tricks.com/scale-svg/
    // Use the padding-bottom Hack on a Container
    .scaling-svg-container {
      position: relative;
      height: 0;
      width: 100%;
      padding: 0;
      padding-bottom: 70%;
    }

    .scaling-svg {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  // MS Edge Browser 12+
  @supports (-ms-accelerator:true) {
    .scaling-svg-mixin;
  }

  // IE10+
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .scaling-svg-mixin;
  }
}
