@import (reference) '../../../../styles/bootstrap-overrides/color-palette.less';

#guideuploadprogress {
    .bar{
        width: 0%;
        height: 10px;
        background-color: @brand-primary;
    }
}
