@import (reference) '../../../../styles';

page-fields {
  display: block;
  /* padding: @grid-gutter-width; */
  .type-error {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
